body {
    font-family: 'Poppins', sans-serif;
}

main.container {
    padding: 20px; 
}

header {
    background-color: #07793a; 
    margin-bottom: 10px;
}

.formLogin {
    background-color: rgb(60, 90, 60);
    padding: 40px;

}
